exportPattern("^[[:alpha:]]+")
import(rpart)
import(stats)
import(parallel)
importFrom("utils", "capture.output")
importFrom("LS2Wstat", "TOS2D")
importFrom("gridExtra","grid.table")
importFrom("grDevices", "gray", "dev.new")
importFrom("graphics", "image", "par", "plot", "axis", "abline", "curve", "hist", "legend")
S3method(print, climit)
S3method(print, exptailecdf)
S3method(print, monitoringStat)
S3method(print, surfacemodel)
S3method(plot, climit)
S3method(plot, surfacemodel)
